@import '../../assets/styles/_config.scss';

.fulliteminfo_headline {
    display: flex;
    justify-content: center;
    font-size: 18px;
    margin: 0.2rem;
    padding: 0.2rem;
}

.fulliteminfo_box, .fulliteminfo_box_tyomaa{
    display: flex;
    flex-direction: column;
    border: solid black 2.5px;
    border-radius: 5%;
    margin-bottom: 1.5rem;
    margin-left: 5%;
    margin-right: 5%;
    padding-bottom: 15px;
    padding-right: 15px;
    color: $fulliteminfo-background;
    background-color: $fulliteminfo-text;
    white-space: normal;
    overflow-wrap: break-word;
}

.lape1hide, .lape2hide, .lape3hide, .lape4hide, .lape5hide, .lape6hide {
    display: none;
}

.lape1show, .lape2show, .lape3show, .lape4show, .lape5show, .lape6show {
    display: block;
}

.fulliteminfo_box > h3, .fulliteminfo_box_tyomaa > h3 {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1.5em;
    text-decoration: underline solid black 2px;
}

.fulliteminfo_box_tyomaa > div {
   display: flex;
   justify-content: flex-start;
   align-items: baseline;
   margin-left: 30%;
}

.fulliteminfo_box > div {
    display: flex;
    justify-content: space-between;
    align-items: baseline;
    margin-left: $fulliteminfo-margin-left;
    margin-right: $fulliteminfo-margin-left;
}

.fulliteminfo_button {
    display: flex;
    justify-content: center;
    margin-bottom: 1rem;
}

.fulliteminfo_button a {
    text-decoration: none;
}

@media only screen and (max-width: 480px), only screen and (max-device-width: 480px) {

    .fulliteminfo_box_tyomaa > div {
        display: flex;
        justify-content: space-between;
        align-items: baseline;
        margin-left: 5%;
     }

     .fulliteminfo_box > div {
        display: flex;
        justify-content: space-between;
        align-items: baseline;
        margin-left: 3%;
        margin-right: 3%;
     } 
}