@import '../../assets/styles/config';

.form {
    display: flex;
    flex-direction: column;
}

.form_row {
    display: flex;
}

.lape1hide, .lape2hide, .lape3hide, .lape4hide, .lape5hide, .lape6hide {
    display: none;
}

.lape1show, .lape2show, .lape3show, .lape4show, .lape5show, .lape6show {
    display: block;
}

.form h2 {
    display: flex;
    align-items: center;
    justify-content: center;
}


.form_row > div {
    display: flex; 
    flex-direction: column;
    flex: 1 1;
    width: 50%;
    margin: $form-item-margin;
}

.form input, .form select, textarea {
    padding: $form-input-padding;
    border: 1px solid $form-input-border;
    border-radius: $form-input-radius;
    font-size: $form-input-fontsize;
    outline: none;
}

.form label {
    font-size: $form-label-fontsize;
    margin-bottom: $form-label-margin-bottom;
}

