@import '../../assets/styles/config';

.form {
    display: flex;
    flex-direction: column;
}

.form_row {
    display: flex;
}

.wall1hide, .wall2hide, .wall3hide, .wall4hide, .wall5hide, .wall6hide, .wall7hide, .wall8hide, .wall9hide, .wall10hide, .wall11hide, .wall12hide {
    display: none;
}

.wall1show, .wall2show, .wall3show, .wall4show, .wall5show, .wall6show, .wall7show, .wall8show, .wall9show, .wall10show, .wall11show, .wall12show {
    display: block;
}

.wall1window1hide, .wall1window2hide, .wall1window3hide, .wall1window4hide, .wall1window5hide, .wall1window6hide {
    display: none;
}

.wall1window1show, .wall1window2show, .wall1window3show, .wall1window4show, .wall1window5show, .wall1window6show {
    display: block;
}

.wall2window1hide, .wall2window2hide, .wall2window3hide, .wall2window4hide, .wall2window5hide, .wall2window6hide {
    display: none;
}

.wall2window1show, .wall2window2show, .wall2window3show, .wall2window4show, .wall2window5show, .wall2window6show {
    display: block;
}

.wall3window1hide, .wall3window2hide, .wall3window3hide, .wall3window4hide, .wall3window5hide, .wall3window6hide {
    display: none;
}

.wall3window1show, .wall3window2show, .wall3window3show, .wall3window4show, .wall3window5show, .wall3window6show {
    display: block;
}

.wall4window1hide, .wall4window2hide, .wall4window3hide, .wall4window4hide, .wall4window5hide, .wall4window6hide {
    display: none;
}

.wall4window1show, .wall4window2show, .wall4window3show, .wall4window4show, .wall4window5show, .wall4window6show {
    display: block;
}

.wall5window1hide, .wall5window2hide, .wall5window3hide, .wall5window4hide, .wall5window5hide, .wall5window6hide {
    display: none;
}

.wall5window1show, .wall5window2show, .wall5window3show, .wall5window4show, .wall5window5show, .wall5window6show {
    display: block;
}

.wall6window1hide, .wall6window2hide, .wall6window3hide, .wall6window4hide, .wall6window5hide, .wall6window6hide {
    display: none;
}

.wall6window1show, .wall6window2show, .wall6window3show, .wall6window4show, .wall6window5show, .wall6window6show {
    display: block;
}

.wall7window1hide, .wall7window2hide, .wall7window3hide, .wall7window4hide, .wall7window5hide, .wall7window6hide {
    display: none;
}

.wall7window1show, .wall7window2show, .wall7window3show, .wall7window4show, .wall7window5show, .wall7window6show {
    display: block;
}

.wall8window1hide, .wall8window2hide, .wall8window3hide, .wall8window4hide, .wall8window5hide, .wall8window6hide {
    display: none;
}

.wall8window1show, .wall8window2show, .wall8window3show, .wall8window4show, .wall8window5show, .wall8window6show {
    display: block;
}

.wall9window1hide, .wall9window2hide, .wall9window3hide, .wall9window4hide, .wall9window5hide, .wall9window6hide {
    display: none;
}

.wall9window1show, .wall9window2show, .wall9window3show, .wall9window4show, .wall9window5show, .wall9window6show {
    display: block;
}

.wall10window1hide, .wall10window2hide, .wall10window3hide, .wall10window4hide, .wall10window5hide, .wall10window6hide {
    display: none;
}

.wall10window1show, .wall10window2show, .wall10window3show, .wall10window4show, .wall10window5show, .wall10window6show {
    display: block;
}

.wall11window1hide, .wall11window2hide, .wall11window3hide, .wall11window4hide, .wall11window5hide, .wall11window6hide {
    display: none;
}

.wall11window1show, .wall11window2show, .wall11window3show, .wall11window4show, .wall11window5show, .wall11window6show {
    display: block;
}

.wall12window1hide, .wall12window2hide, .wall12window3hide, .wall12window4hide, .wall12window5hide, .wall12window6hide {
    display: none;
}

.wall12window1show, .wall12window2show, .wall12window3show, .wall12window4show, .wall12window5show, .wall12window6show {
    display: block;
}

.form h2 {
    display: flex;
    align-items: center;
    justify-content: center;
}


.form_row > div {
    display: flex; 
    flex-direction: column;
    flex: 1 1;
    width: 40%;
    margin: $form-item-margin;
}

.form input, .form select, textarea {
    padding: $form-input-padding;
    border: 1px solid $form-input-border;
    border-radius: $form-input-radius;
    font-size: $form-input-fontsize;
    outline: none;
}

.form label {
    font-size: $form-label-fontsize;
    margin-bottom: $form-label-margin-bottom;
}

