.uibutton {
    background-color: #cccccc;
    color: #000000;
    border: none;
    outline: none;
    padding: 0.7em 1.5em;
    margin: 0.5em;
    border-radius: 0.2em;
    box-shadow: rgba(0, 0, 0, 0.5) 0px 2px 2px;
    font-weight: bold;
    opacity: 0.8;
}

.uibutton:active {
    box-shadow: rgba(0, 0, 0, 0.5) 0px 2px 5px;
    /* mahdollinen napin värin vaihto painalluksesta
    background-color: #bbbbbb; */
}

.uibutton:hover {
    opacity: 1;
}