@import url('https://fonts.googleapis.com/css2?family=Roboto+Mono:wght@400;600&display=swap');

.app {
    font-family: 'Roboto Mono', monospace;
    max-width: 38rem;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    height: 100vh;
}

.app > * {
    flex: 1 1 auto;
}