@import '../../assets/styles/_config.scss';

.item {
    display: flex;
    border-bottom: 1px solid $item-border;
    color: $item-text;
}

.item_data {
    flex: 1;
    display: grid;
    grid-template-rows: 1fr 1fr;
    padding: $item-padding;
    text-align: center;
}

.item_name {
    font-size: xx-large;
    font-weight: bold;
    color: $item-text-strong;
}

.item_time{
    display: flex;
    justify-content: center;
    padding: 0.4rem;
    font-size: x-large;
    margin-top: -2px;
}

.item_seemore {
    max-width: $item-seemore-width;
    min-width: $item-seemore-width;
    background-color: $item-seemore-background;
    color: $item-seemore-text;
    display: none;
    justify-content: center;
    align-items: center;
}

.item_seemore a {
    color: $item-seemore-text;
}

.item:hover .item_seemore {
    display: flex;
}