$container-padding: 1rem;

$header-background: #333333;
$header-text: lightblue;
$header-height: 4rem;
$header-fontsize: 1.75rem;

$scrollbar-track: #ffffff;
// $scrollbar-thumb: #e1e1e1;
$scrollbar-thumb: lightblue;
$scrollbar-width: 0.5rem;

//$item-border: #BADDFE;
$item-border: lightblue;
$item-text: #999999;
$item-text-strong: #282828;
$item-padding: 0.75rem;
$item-seemore-background: #dddddd;
$item-seemore-text: #666666;
$item-seemore-width: 2rem;

$menu-background: #333333;
$menu-text: lightblue;
$menu-height: 4rem;

$form-item-margin: 0.5rem 0.3rem;
$form-input-border: #999999;
$form-input-radius: 0.3rem;
$form-input-padding: 0.5rem;
$form-input-fontsize: 1.1rem;
$form-label-fontsize: 0.95rem;
$form-label-margin-bottom: 0.3rem;

$fulliteminfo-background: #333333;
$fulliteminfo-text: lightblue;
$fulliteminfo-margin-left: 15%;