$header-background: #333333;
$header-text: #E3A711;
$header-height: 4rem;
$header-fontsize: 1.75rem;

$scrollbar-track: #ffffff;
$scrollbar-thumb: #e1e1e1;
$scrollbar-width: 0.5rem;

$item-border: #BADDFE;
$item-text: #999999;
$item-text-strong: #282828;
$item-padding: 0.75rem;

$menu-background: #333333;
$menu-text: #E3A711;
$menu-height: 4rem;